{
    "defaultAction": "SCMP_ACT_ERRNO",
    "architectures": [
        {{- range $index, $arch := .Architectures }}
        "{{$arch}}"{{if ne $index (sub1 (len $.Architectures))}},{{end}}
        {{- end }}
    ],
    "syscalls": [
        {
            "names": [
                {{- range $index, $syscall := .Syscalls }}
                "{{$syscall}}"{{if ne $index (sub1 (len $.Syscalls))}},{{end}}
                {{- end }}
            ],
            "action": "SCMP_ACT_ALLOW"
        }
    ]
}